# python 3 py_cache
__pycache__

# pyc files
*.pyc

# ignore large files
data/youtube/youtube_wc.inf
data/livejournal/livejournal.inf
data/livejournal/livejournal_wc.inf
data/orkut/orkut.inf
data/orkut/orkut_wc.inf
data/twitter/twitter.inf
data/twitter/twitter_wc.inf
data/friendster/friendster.inf
data/friendster/friendster_wc.inf

# 
